<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xue.dao.AccountMapper">

    <select id="login" resultType="org.xue.model.Emp">
        SELECT * FROM emp where username = #{username} and password = #{password}
    </select>



</mapper>